<nav class="navbar navbar-toggleable-md navbar-light bg-faded mt-1">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Learn Chinese</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<img src="https://2.bp.blogspot.com/-BwXHFtlDU58/V70JQlob7WI/AAAAAAAAHQ8/fD0g6GSArgMPGAcryiDF6LZVkTECTUf3gCLcB/s400/keep-calm-and-learn-chinese.png" />
<img class="rounded float-xs-left mr-1" src="http://tuppen-tomcat:8080/internweb/img/logo2.png">
<img src="/assets/img/logo.png" alt="loading screen">

<a href="#" target="_blank" rel="nofollow" onclick="window.open('http://www.google.com/translate?u='+encodeURIComponent(location.href)+'&amp;langpair=en%7Cfr&amp;hl=en&amp;ie=UTF8'); return false;" title="Google-Translate-English to French ">French</a>

<a href="https://translate.google.com/?text=&sl=auto&tl=zh-TW" target="_blank" >French</a>


<h1>{{title}}</h1>

<button pButton type="button" label="Click" (click)="assignActity();"><i class="fa fa-address-book-o" aria-hidden="true"></i></button>
<button pButton type="button" label="Click"><i class="fa fa-address-book-o" aria-hidden="true"></i></button>
<button pButton type="button" label="Click"><i class="fa fa-address-book-o" aria-hidden="true"></i></button>

<hr />

<h1>WORDS</h1>
<ul>
    <li *ngFor="let word of words | async">
        {{word.$key}} - {{word.$value}}
    </li>
</ul>

<h1>SENTENCES</h1>
<ul>
    <li *ngFor="let sentence of sentences | async">
        {{sentence.$key}} - {{sentence.$value}}
    </li>
</ul>